* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    gap: 50px;
    margin: 0;
    height: 100vh;
    padding: 0 32px;
    background-image: linear-gradient(to left, #1b4248, #9d8248);
}

@media (width >= 500px) {
    body {
    padding: 0;
    }
}

.background {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #1b4248;
}

.background::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #9d8248;
}

.card {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 94%;
    margin: 0 20px;
    padding: 170px 30px 54px;
    border-radius: 24px;
    background: #ededed;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before {
    content: "";
    position: absolute;
    top: -880px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #1b4248;
}

@media (width >= 500px) {
    .card {
    margin: 0;
    height: 550px;
    width: 360px;
    }
}

.card > .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    translate: -50% 0;
    width: 280px;
    height: 60px;
}

.form {
    margin: 0 0 5px;
    display: grid;
    gap: 12px;
}

.input-field input {
    outline: none;
    width: 100%;
    height: 56px;
    border-radius: 28px;    
    font-size: 16px;
    color: #1b4248;
    background-color: #ebebeb;
    border: 3px solid #1b4248;
    padding: 0 15px;
    cursor: pointer;
}

.input-field input:is(:focus){
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.form > input::placeholder {
    color: rgb(0 0 0 / 28%);
}

.form > .btn-hover {
    place-items: center;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 56px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin: 0 0 10px;

    border-radius: 28px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.form > .btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.form > .btn-hover:focus {
    outline: none;
}

.form > .btn-hover.color-a {
    background-image: linear-gradient(to right, #1b4248, #9d8248, #d9bc7f, #efd69f);
    box-shadow: 0 4px 15px 0 #1b4248;
}


.form > a {
    font-size: 12px;
    color: #000;
    text-align: right;
}

.form > a:hover {
    color: #1b4248;
}

.card > h4{
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    unicode-bidi: isolate;
    color: #1b4248;
}

.divider {
	margin-top: 0vh;
	margin-bottom: 0.5rem;
	color: #666;
	font-size: 0.75rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.card > button{
    place-items: center;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 100%;
    height: 56px;
    text-align:center;
    border:  0px solid #000000;
    background-size: 300% 100%;
    margin: 0px 0 10px;

    border-radius: 28px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: flex;
}

.card > button:hover{
    box-shadow: 0 0 0 2px #ededed, 0 0 0 6px #1b4248;
}

.googleimg{
    width: 50px;
    height: 50px;
    margin: 3px 5px;
    background-image: url('assets/logoGoogle.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.garisBawah{
    color: #000;
    font-size: 12px;
    text-align: left;
}

.garisBawah > a{
    color: #000;
}

.garisBawah > a:hover{
    color: #1b4248;
}